body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Style the paragraph text */
p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

#jsonContent {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Consolas, monospace;
    overflow: auto;
    max-height: 200px;
}